<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		{{! BOOTSTRAP }}
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
		<script defer src='/bootstrap/js/bootstrap.bundle.js'></script>
		<title>Document</title>
	</head>
	<body>
		{{>navbar}}
		<main class='mt-5 container'>
			{{{body}}}

		</main>
	</body>
</html>